div.universe {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* display: contents; */

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
  background: linear-gradient(
    180deg,
    #373773,
    #235689,
    #2a9096,
    #364a7b,
    #4a367b,
    #5e3665,
    #2c294b,
    #31437a
  );
  background-size: 1600% 1600%;
  -webkit-animation: skygradient 180s ease infinite;
  -moz-animation: skygradient 180s ease infinite;
  -o-animation: skygradient 180s ease infinite;
  animation: skygradient 180s ease infinite;
}
@-webkit-keyframes skygradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@-moz-keyframes skygradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@-o-keyframes skygradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes skygradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
canvas {
  width: 100% !important;
  height: 100% !important;
}
div.logo {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
p.description {
  margin-top: 10px;
}
